<a href="https://colab.research.google.com/github/Jim-Kelvin-Geran-202013157/CPEN-21A-ECE-2-3/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###For Loop

In [ ]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

###The break statement

In [ ]:
for x in week:
  print(x)
  if x=="Thursday":
   break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

###Looping through a string

In [ ]:
for x in "week":
  print(x)

w
e
e
k

###Range Function

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2,6):
  print(x)

2
3
4
5

###Nested Loops

In [ ]:
adjective=["red", "big", "tasty"]
fruits=["apple", "banana", "cherry"]
for x in adjective:
 for y in fruits:
  print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

###While Loops

In [ ]:
i=1
while i<6:
  print(i)
  i+=1 #i=i+1 Assignment operator

1
2
3
4
5

###Break statement under while

In [ ]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

###The continue statement

In [ ]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

###Else Statement

In [ ]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

###Application 1

In [23]:
value=["Value"]
number=["0","1","2","3","4","5","6","7","8","9","10"]

for x in value:
  for y in number: 
    print(x,y)

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

###Using while loop on application 1

In [ ]:
value=["Value"]
number=["0","1","2","3","4","5","6","7","8","9","10"]

i=0
while i<=10:
    print("value", i)
    i+=1 #Assignment operator for addition

###Application 2

In [31]:
#create a python program that displays number less than 20 but greater than 3

for x in range (3,20): 
  if x>3 and x<20:
    print(x)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19